# Ignore local dependencies and modules
node_modules/
frontend/node_modules/

# Ignore build artifacts
frontend/dist/

# Ignore local database and configurations
data/
*.db
*.db-journal
*.db-shm
*.db-wal

# Ignore git data and documentation
.git
.gitignore
README.md
walkthrough.md
task.md
